#sidebar {
  min-height: 100vh;
  padding: 1rem;
  #content {
    background-color: rgba(200, 200, 200, 0.4);
    padding: 1rem;
    border-radius: 5px;
    min-height: calc(100%);
    height: 100%;
    text-align: center;

    a {
      color: #555;
    }

    .nav-tabs {
      border: none;
    }

    .nav-tabs .nav-link {
      border-radius: 5px;
    }

    .nav-tabs .nav-link:hover:not(.active) {
      border-color: #555;
      background-color: #555;
      color: #fff;
    }
  }
}
