#main {
  h2, .title {
    text-align: center;
  }
  padding: 1rem;
  #content {
    background-color: rgba(200, 200, 200, 0.4);
    height: 100%;
    padding: 1rem;
    border-radius: 5px;

    .sub_content {
      height: 100%;
      width: 100%;
      // background-color: #ddd;
    }
  }
}
